<footer class="footer-custom">
    <br>
    <div class="row">
        <iframe class="col-lg-3 col-md-6 col-sm-12 footer-map-frame"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.6007731804666!2d-0.38009009999999993!3d39.47834689999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f5179f03ee7%3A0x71b6b3d316f30e0!2sFalla%20Ripalda%20Soguers!5e0!3m2!1ses!2ses!4v1770624955944!5m2!1ses!2ses"
            width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" title="Mapa: Falla Ripalda Soguers"></iframe>

        <div class="col-lg-3 col-md-6 col-sm-12 footer-col-contact">
      <br> <br> <br>
            <h5 class="email-spacing"> ripaldasoguers.secretaria@gmail.com </h5> <br>
            <h5> C/ de Ripalda, Ciutat Vella, 46003 València, Valencia </h5> <br>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 footer-col-copyright">
            <img src="./img/color.jpeg"
                class="footer-logo-img" alt="Logo de Falla Ripalda Soguers">
            <h5> © 2026 Falla Ripaldo Sogueros. Todos los derechos reservados.</h5>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 footer-col-social">
            <a href="mailto:ripaldasoguers.secretaria@gmail.com" target="_blank"><img src="./img/envelope.svg" class="social-icon-img" alt="Enviar correo"></a>
            <a href="https://www.instagram.com/ripaldasoguers/"target="_blank"><img src="./img/instagram.svg" class="social-icon-img" alt="Instagram"></a> <br>
            <a href="https://www.tiktok.com/@ripaldasoguers?lang=es-419"target="_blank"><img src="./img/tiktok.svg" class="social-icon-img" alt="TikTok"></a>
            <a href="https://www.facebook.com/ripaldasoguers/?locale=es_ES"target="_blank"><img src="./img/facebook.svg" class="social-icon-img" alt="Facebook"></a>
        </div>
    </div>
</footer>
